ISAMBARD_HOST=

# Hugging Face API token
HF_TOKEN=

ADZUNA_S3_PREFIX=adu-project-data/aisi-economy-index/adzuna2025

# AWS credentials (for Adzuna S3 access)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ZEROENTROPY_API_KEY=
